extends ./layout

block body
  .container.user-info
    h1 user info
    -if (loginSuccess)  
      h3 id: #{user.id}
      h3 email: #{user.email}
      h3 createdAt: #{user.createdAt}
    -else 
      h3.err incorrect email or password

block scripts
