extends ./layout

block body
  .container
    form.form-post(action='/addpost', method='POST')
      h2.form-post-heading Edit your post
      div.form-group
        label(for='inputContent') your content
        textarea#inputContent.form-control(name='content', placeholder='content', required='', autofocus='')
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Post

block scripts
